{% block begin %}
<?xml version="1.0" encoding="UTF-8" ?>
<rss version="2.0" xmlns:g="http://base.google.com/ns/1.0">
    <channel>
{% endblock %}

{% block item %}
    <item>
        <g:id>{{ item.id }}</g:id>
        <title>{{ item.productName }}</title>
        <g:description>{{ item.description|striptags|replace("\n", ' ')|trim }}</g:description>
        <link>{{ item.url }}</link>
        {% if item.imgUrl is not null -%}
            <g:image_link>{{ item.imgUrl }}</g:image_link>
        {% endif -%}
        <g:availability>
            {%- if item.sellingDenied -%}
                out of stock
            {%- else -%}
                in stock
            {%- endif -%}
        </g:availability>
        <g:price>{{ item.priceVat|number_format(2, '.', '') }} {{ item.currencyCode }}</g:price>
        {%  if item.manufacturer is not null -%}
            <g:brand>{{ item.manufacturer }}</g:brand>
        {% endif -%}
        {% if item.ean is not null -%}
            <g:gtin>{{ item.ean }}</g:gtin>
        {% endif -%}
        {% if item.partno is not null -%}
            <g:mpn>{{ item.partno }}</g:mpn>
        {% endif -%}
        {% if item.productTypeText is not null -%}
            <g:product_type>{{ item.productTypeText }}</g:product_type>
        {% endif -%}
        {% if item.ean is null and item.partno is null -%}
            <g:identifier_exists>no</g:identifier_exists>
        {% endif -%}
        {% if item.getCustomValue('category_name') is not null -%}
            <g:google_product_category>{{ item.getCustomValue('category_name') }}</g:google_product_category>
        {% endif -%}
        <g:adult>no</g:adult>
        <g:condition>new</g:condition>
    </item>
{% endblock %}

{% block end %}
    </channel>
</rss>
{% endblock %}
